<span style="display:none;" id="div_{{ id }}_inputs">
    {% if not required %}
        {{ clear }}
    {% endif %}
    <input class="fields_bundle-media_input-file" {{ input_attrs|safe }} type="file" {% if value.is_image %}name="{{ name }}"{% endif %} accept="image/*" />
</span>

<a class="fields_bundle-media_input {% if only_file %}fields_bundle-media_input-only_file{% endif %}"
    id="div_{{ id }}"
    data-modal="#div_{{ id }}_modal"
    data-inputs="#div_{{ id }}_inputs"
    data-name="{{ name }}"
    >

    <span class="fields_bundle-media_input-media {% if value %}active{% endif %}">

        <span class="fields_bundle-media_input-preview">{{ value.html|safe }}</span>
       <!--  <button type="button" class="btn btn-primary fields_bundle-media_input-button fields_bundle-media_input-change">
            {{ change_message|default:"Changer"|safe }}
        </button>-->
        <span class="appicon appicon-edit"></span>
        <!-- {% if not required %}
        <button type="button" class="btn btn-primary fields_bundle-media_input-button fields_bundle-media_input-remove">
            {{ remove_message|default:"Changer"|safe }}
        </button>
        {% endif %} -->
    </span>
    <span class="fields_bundle-media_input-empty fields_bundle-media_input-change {% if not value %}active{% endif %}">

        <span class="appicon appicon-media"></span>
        Ajouter un média

    </span>
    <span class="fields_bundle-media_input-inputs">

    </span>

    <div style="display:none;">
        <div class="modal fields_bundle-media_input-modal" id="div_{{ id }}_modal">
            <div class="modal-header">
                Média
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary fields_bundle-media_input-add-image">
                    {% if not only_file %}
                        {{ "Image"|safe }}
                    {% else %}
                        {{ "Ajouter"|safe }}
                    {% endif%}
                </button>
                {% if not only_file %}
                <span class="fields_bundle-media_input-or">ou</span>
                <input type="text" {{ input_attrs|safe }} {% if not value.is_embed %}name="{{ name }}"{% endif %}
                    class="form-control fields_bundle-media_input-add-embed" placeholder="un code embed" }}" />
                {% endif %}
            </div>
            <div class="modal-footer">
                <button></button>
            </div>
        </div>
    </div>
</a>